/*PROLOGES*/

body {
background-color:#fafafa!important;
font-family:Lato,sans-serif;
font-size:16px;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
line-height:1.5em
}
body.body-fullWidth,html {
width:100%;
height:100%
}
.container {
padding-top:70px;
}
.Facebook-button,.Google-button {
color:#fff;
display:inline-block;
padding:.5em .8em;
width:40%
}
.Custom-container,.Login-container, .Login-header {
margin-left:auto;
margin-right:auto;
}
.no-padding {
padding:0!important
}
.Facebook-button,.Google-button {
color:#fff;
display:inline-block;
padding:.5em .8em;
width:40%
}
.Custom-container {
max-width:900px
}
.follow-button {
width: 128px;
}
.Comment-button {
background-color:#3fb0ac;
color:#fff;
margin-right: 10px;
}
.reply-button {
background-color:#3fb0ac;
color:#fff;
margin-left: 5px;
}
.cancel-button {
margin-left: 5px;
margin-top: 5px;
}
.Blue-button {
background-color:#3fb0ac;
color:#fff;
border:1px solid #277b78
}
.Red-button {
background-color:#f00;
color:#fff;
border:1px solid #277b78
}
.Green-button {
background-color:#3fb0ac;
color:#fff;
border:1px solid #277b78;
}
.follow-button {
background-color:#3fb0ac;
color:#fff;
border:1px solid #277b78;
width:100%;
padding:.6em
}
.unfollow-button {
background-color:#173e43;
color:#fff;
border:1px solid #277b78;
width:100%;
padding:.6em
}
.follow-button .following-text { display: none; }
.follow-button .unfollow-text { display: none; }
.unfollow-button .follow-text { display: none; }
.unfollow-button .unfollow-text { display: none; }
.unfollow-button:hover .following-text { display: none; }
.unfollow-button:hover .unfollow-text { display: inline; }
.unfollow-button:hover {
background-color: #7e1111;
color: #fff;
}
.Facebook-button {
background-color:#4090db
}
.Google-button {
background-color:#dc4e41
}
.Stroked-button--grey {
background-color:transparent;
border:1px solid #ddd!important;
color:#ddd;
text-transform:uppercase;
transition:all .45s ease
}
.Stroked-button--grey:hover {
border-color:#4a4a4a
}
#error-msg > p {
color: red;
font-size: 14px;
}
.Registration {
background:url(../img/login_1920.jpg) no-repeat;
background-size:cover;
width:100%;
height:100%;
padding-top:1em
}
.Login {
background:url(../img/login_bg.jpg) no-repeat;
background-size:cover;
width:100%;
height:100%;
padding-top:1em
}
.Login-container {
max-width:450px;
padding:1em 4em;
#border-radius:4px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
background-color:#fff
}
.Login-container h1 {
font-weight:100;
color:#173e43
}
.Login-container h5 {
margin:1.5em;
font-weight:300;
line-height:1.6em;
color:#717c7c
}
.Author-bio,.Results-authorCard p {
font-family:Helvetica,Arial,sans-serif;
line-height:1.7em
}
.Login-header {
min-width:45px;
max-width:450px;
background-color:#3fb0ac;
border-top-left-radius:4px;
border-top-right-radius:4px;
padding-bottom:1em;
}
.Login-container h5 a {
color:#717c7c;
font-weight:500
}
.Login-form {
padding-left:2.5em;
padding-right:2.5em
}
.Login-form .input-group input {
color:#abc2c2;
padding:.6em;
height:40px
}
.Login-form .input-group .input-group-addon {
background-color:transparent;
color:#abc2c2;
min-width:45px
}
.Login-form .input-group .register-addon {
min-width:45px
}
.Login-form .Green-button .Blue-button {
width:100%;
padding:.6em
}
.login-error > p{
color: red;
font-size: 14px;
}

/************** NAVBAR ********************/
.navbar-custom {
background-color: #3fb0ac;
color: #fff;
border-radius: 0;
}
.navbar-custom .navbar-nav > li > a {
color:#fff;
}
.navbar-custom .navbar-brand-image > img {
height:3em;
}
.navbar-custom img.profile-pic {
height:2em;
}
.user-header .user-profile-pic > img {
float: left;
height: 40px;
width: 40px;
}

.welcome {
margin-left:auto;
margin-right:auto;
}
.welcome-whatis {
border:1px solid #e4e4e4;
border-radius: 8px;
}
.welcome-whatis--header {
background-color:#3fb0ac;
color:#dddfd4;
border-top-left-radius:8px;
border-top-right-radius:8px;
padding: 1em;
}
.welcome-whatis--body {
background-color:#fff;
padding: 1em;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
.welcome-whatis--header span {
color:#173e43;
}

.welcome-login {
background-color:#fff;
border:1px solid #e4e4e4;
margin:1em;
padding:1em 1.5em 1em 1.5em;
border-radius: 8px;
}
.welcome-prologes {
background-color:#fff;
border:1px solid #e4e4e4;
margin:1em;
padding:1em 1.5em 1em 1.5em;
border-radius: 8px;
}

.welcome-prologes--prologes {
min-height: 80px;
padding: 0.5em 0em;
margin-left: auto;
margin-right: auto;
width: 70px;
}
.welcome-padding-top-left {min-height: 40px;}
.welcome-padding-top-right {min-height: 40px;}

/* PROFILE stuff */
.profile-container {
border-radius:4px;
background-color:#fff;
border:1px solid #e4e4e4;
padding:4em 2em;
max-width: 900px;
min-height: 500px;
margin-left:auto;
margin-right:auto;
}
h2.input-holder--edit {
display: inline;
}
.profile-action {
float:right;
}
.profile-avatar {
padding: 1em;
}
.profile-avatar img {
border-radius: 50%;
height: 120px;
width: 120px;
}
.profile-avatar--options {
padding: 1em;
}
.profile-avatar--options img{
height: 32px;
width: 32px;
border-radius: 4px;
border: 1px solid #000;
}

/* Books and stuff*/
.book-card, .event-card, .author-result {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:1em 1.5em;
border-radius:4px;
}
.google-result {
background-color: #fff;
border: 1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius: 4px;
}
.google-result--submit {
background: none;
border: none;
}
.google-link--submit {
background:none!important;
border:none;
padding:0!important;
font: inherit;
cursor: pointer;
}
.google-result--thumbnail {
float: left;
padding:0 1em;
}
.google-result--thumbnail img {
width: 70px;
height: 105px;
margin-top:0.8em;
}
.google-result--info {
min-height: 100px;
}
.google-result--info h5 {
color:#173e43;
font-weight:300;
font-size:16px;
margin-bottom:.3em
}

.book-result {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.book-card--thumbnail {
float:left;
padding:0 1em
}
.book-card--thumbnail img {
margin-top:.8em;
width:70px;
height:auto;
}
.book-card--info {
min-height: 120px;
}
.book-card--info h5 {
color:#173e43;
font-weight:500;
font-size:16px;
margin-bottom:.3em
}
.book-card--info p {
color:#8a8a8a;
font-family:Helvetica,Arial,sans-serif
}

/******** COMMENTS ******/
.comment-footer {
	font-size: 12px;
	color: grey;
}

.comment-footer span {
	margin-right: 5px;
}
.comment-footer span:hover {
	cursor: pointer;
}

.thread {
	/* Border bottom makes it look reddit like*/
	/*border-bottom: 1px solid #3fb0ac;*/
	margin-bottom: 5px;
}

.book-comment--textarea-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.book-comment--error-area {
	color: red;
	font-size: 12px;
}

.thread-nest {
	padding-left: 10px;
	border-left: 2px solid #3fb0ac;
	margin-left: 4px;
}

.thread {
	animation-name: movingup;
	animation-duration: 1.4s;
}

@keyframes expand {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -50px;
	}
}

@keyframes collapse {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.reply-form--actions {
	display: flex;
	flex-direction: column;
}

.comment {
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 4px;
	margin-bottom: 7px;
	padding-left: 10px;
	display: flex;
}

.comment-header {
	font-size: 12px;
	color: grey;
	margin-top: 3px;
}

.comment-user-thumbnail img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.comment-user-thumbnail {
	margin-top: 10px;
	margin-right: 8px;
}

.user-span-link:hover {
	text-decoration: none!important;
}

.comment-body {
	/**/
	display: flex;
	flex-direction: column;
}
.comment-text {
	font-size: 12px;
}

.user-label {
	background-color: #3fb0ac;
	font-size: 12px;
	line-height: 1.8em;
	margin-right: 5px;
}

/******** MAIN **********/
.index-buttons { padding: 20px; }
.index-action {
background-color:#3fb0ac;
margin-top:1em;
padding:1em 1em;
border: 2px solid #3fb0ac;
border-radius:4px;
color: #fff;
font-size: 15px;
font-weight: 600;
cursor: pointer;
}
.index-action:hover {
border: 2px solid #173e43;
}
.index-action--prologo {background:url('../img/i_prologe.png')no-repeat center; background-size: 48px 48px; min-height:48px; line-height: 48px;}
.index-action--favorite {background:url('../img/i_favorite.png')no-repeat center; background-size: 48px 48px; min-height:48px; line-height: 48px;}
.index-action--reading {background:url('../img/i_reading.png')no-repeat center; background-size: 48px 48px; min-height:48px; line-height: 48px;}
.index-action--wishlist {background:url('../img/i_wishlist.png')no-repeat center; background-size: 48px 48px; min-height:48px; line-height: 48px;}

.index-modal--search {
margin: 20px;
padding: 10px;
}
#index-modal--field {
height: 50px;
}
#index-modal--submit {
height: 50px;
}

#index-search--field {
height: 50px;
}
#index-search--submit {
height: 50px;
}
.index-search {
margin: 20px;
width: 700px;
margin-left: auto;
margin-right: auto;
padding: 50px 30px 50px 30px;
}

.event-card--thumbnail img {
width: 90px;
height: 90px;
border-radius: 50%;
}
.event-card--thumbnail {
float: left;
margin-bottom: 3px;
padding-right: 1em;
}
.event-card--target {
float: right;
margin-bottom: 3px;
padding: 1me;
}
.event-card--target img {
width: auto;
height: 90px;
}

.event-card--target-thumb {
float: right;
margin-bottom: 3px;
padding: 1me;
}
.event-card--target-thumb img {
width: auto;
height: 90px;
border-radius: 50%;
}
.event-card--info {
float: center;
min-height: 90px;
padding-top: 1em;
}
.event-card--info > a:link { text-decoration:none;}
.event-card--info > a:hover { text-decoration:none;}

.event-card--book img {
width: auto;
height: 90px;
}

/***** SEARCH *******/
.search-title {
margin-left: 3em;
margin-top: 10px;
color: #3fb0ac;
font-style: oblique;
font-size: 26px;
}
.book-result--thumbnail {
float:left;
padding:1em 1em;
}
.book-result--thumbnail img {
width:70px;
height:auto;
}
.book-result--info {
min-height: 108px;
}
.book-result--info h4 {
padding-top: 1em;
color: #173e43;
font-weight:200;
}
.author-result--thumbnail {
float: left;
padding: 0 1em 0 0.5em;
}
.author-result--thumbnail img {
border-radius: 50%;
width: 80px;
height: 80px;
}
.author-result--info {
min-height: 80px;
padding-top: 8px;
}
.author-result--info h3 {
color:#173e43;
font-weight:200;
}

.similar-book {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:3em;
margin-bottom:2em;
padding-top:2em;
border-radius:4px;
}
.similar-book--actions {
border-top:1px solid #f3f3f3;
padding:.5em 0
}
.similar-book--thumbnail {
text-align: center;
}
.similar-book--thumbnail img {
width:auto;
height:80px;
margin-top:-3.4em;
background-color:#fff;
}
.similar-book--info h3 {
color:#173e43;
text-align:center;
font-weight:500;
font-size:18px;
}
.similar-book--rating {
text-align: center;
padding-bottom: 1em;
color: #fae596;
}

.main-book--rating > .fa {
font-size: 3.5em;
}
.good-rating {
color: #ffff00;
}
.empty-rating {
color: #000;
}

.main-book {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}

.main-book--cover {
float: left;
padding: 2em;
}
.main-book--info {
min-height: 250px;
}
.main-book--info h2 {
padding: 1em 0 0.5em 1em;
font-weight:600;
color: #173e43;
font-size: 32px;
}
.main-book--info h4 {
padding: 0em 0 1em 1em;
color: #5d7679;
font-size: 26px;
}
.main-book--actions {
border-top:1px solid #f3f3f3;
padding:.5em 0;
min-height: 64px;
}
.main-book--actions > div{
float:right;
}

.modal-header {
background-color:#3fb0ac;
color: #173e43;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.prologe-modal--prologe {
padding: 1em 0em;
}

.prologe-modal--textarea {
height: 200px;
min-width: 100%;
border: 4px dashed #3fb0ac;
background-color:#dddfd4;
outline: none;
resize: none;
}

.prologe-modal--feedback {
color: #173e43;
font-size: 24px;
margin-top:-1.4em;
margin-right: 0.4em;
}

.prologe-modal--rating {
color: #173e43;
font-size: 18px;
min-width: 150px;
padding-right: 2em;
padding-top: 0.5em;
}

.prologe-modal--raty {
margin-right: -120px;
padding-left: 2em;
}

.Blue-button {
width: 50%;
margin-left: auto;
margin-right: auto;
}


.main-author {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:3em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.main-author--pic {
text-align: center;
}
.main-author--pic img {
width:auto;
height:80px;
margin-top:-3.4em;
background-color:#173e43;
border-radius: 50%;
}
.main-author--info {
color: #173e43;
text-align: center;
}

.book-comment--feedback {
color: #173e43;
font-size: 16px;
margin-top:-1.4em;
margin-right: 64px;
}
.book-comment--textarea {
height: 66px;
width: 100%;
border: none;
outline: none;
resize: none;
font-size: 13px;
}
.book-comment--form {
	width: 100%;
margin: 5px;
display: flex;
align-items: flex-end;
justify-content: flex-end;
}
.book-comment--area {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
margin-bottom: 7px;
padding-left: 10px;
/*padding:0em 1.5em 1em;*/
border-radius:4px;
}
.main-comment {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.main-comments {
	margin-top: 10px;
} 
.main-prologe {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.main-prologe--prologe {
min-height: 80px;
padding: 0.5em 0em;
margin-left: auto;
margin-right: auto;
width: 70px;
}
.main-prologes h2 {
padding-top: 1em;
}
.main-prologe--empty {
padding-top: 1em;
}
.main-prologe--empty h2 {
color: #173e43;
}
.main-prologe--empty h3 {
color: #173e43;
}
.main-prologe--thumbnail {
float:left;
padding: 1em 1em 4em 1em;
}
.main-prologe--thumbnail img {
width: auto;
height: 90px;
border-radius: 50%;
}
.main-prologe--text {
padding: 1em 0em 0em 0em;
color: #173e43;
min-height: 90px;
#background-color:#fae596;
#border:1px solid #e4e4e4;
}
.main-prologe--rating {
color: #fae596;
}

.main-user {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}

.main-user--sidebar {
float: left;
}
.main-user--follow {
padding: 2em;
}
.main-user--icon {
padding-right: 2em;
padding-left: 2em;
padding-top: 2em;
}
.main-user--icon img {
border-radius: 50%;
width: 128px;
height: 128px;
}
.main-user--info {
min-height: 250px;
}
.main-user--info h2 {
padding: 1em 0 0.5em 1em;
font-weight:600;
color: #173e43;
font-size: 32px;
}
.main-user--info h4 {
padding: 0em 0 1em 1em;
color: #5d7679;
font-size: 26px;
}

.library-book {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}

.library-book--thumbnail {
float: left;
padding: 1em 1em;
}

.library-book--thumbnail img {
width:auto;
height:80px;
background-color:#fff;
}
.library-book--info {
min-height: 110px;
}
.library-book--info h3 {
font-size: 20px;
font-weight:500;
color: #173e43;
}

/* USER PAGE */
.user-library--empty {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.user-prologe {
background-color:#fff;
border:1px solid #e4e4e4;
margin-top:1em;
padding:0em 1.5em 1em;
border-radius:4px;
}
.user-prologe--thumbnail {
float: left;
padding: 1em 1em;
}
.user-prologe--thumbnail img {
width:auto;
height:80px;
background-color:#fff;
}
.user-prologe--text {
	min-height: 80px;

}
.user-prologe--text h4 {
font-size: 18px;
font-weight:300;
color: #173e43;
}
.user-prologe--text p {

}

.user-prologe--rating {
color: #fae596;
}
.book-card--rating {
color: #fae596;
}

.user-tabs {
	margin: 1em;
}

.nav > li > a {
	outline: none ! important;
	border: none;
	font-size: 18px;
}
.nav > li.active > a:hover, 
.nav > li.active > a:focus, 
.nav > li.active > a {
	background-color: #fafafa; 
	border:none;
	border-bottom: 5px solid #173e43;
}
.nav > li.active > a:hover {
	background-color: #fafafa; 
	border:none;
	border-bottom: 5px solid #173e43;
}
.user-tabs .nav > li > a:hover {
	background-color: #fafafa;
	border-bottom: 5px solid #3fb0ac;
}
.nav-tabs {
	background-color: #fafafa;
	border-bottom: none;
}


/* LIBRARY PAGE */

.library-book--icon {
min-height: 80px;
padding: 0.5em 0em;
margin-left: auto;
margin-right: auto;
width: 70px;
}

.form-upload {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

.form-upload + label {
color: #fff;
border-radius: 4px;
background-color: #3fb0ac;
border: 1px solid #277b78;
margin: 10px;
}

.form-upload:focus + label, .form-upload + label:hover {
color: #173e43;
}
.form-upload + label {
cursor: pointer;
}

/***** VOTING ****/
.main-prologe--counter {
padding-top: 5px;
color: #b1b1b1;
}
.main-prologe--voting {
width: 102%;
}

.main-prologe--voting > div {
float: right;
margin: 5px;
}

span.clear-float {clear: left; display: block;}


/* ICONS  */
.svg-interactions {
	width: 30px;
	height: auto;
}
#SvgFavoriteIcon {width: 64px; }
#SvgWishlistIcon { width:64px; }
.icon-favorite--active .svg-favorite {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-favorite--disabled .svg-favorite {
	stroke: #a1a1a1;
	fill: #a1a1a1;
}
.icon-favorite .svg-favorite {
	stroke: #173e43;
	fill: #173e43;
}
.icon-favorite .svg-favorite:hover {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-reading .svg-reading{
	stroke: #173e43;
	fill: #173e43;
}
.icon-reading--disabled .svg-reading{
	stroke: #a1a1a1;
	fill: #a1a1a1;
}
.icon-reading--active .svg-reading{
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-reading:hover .svg-reading {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-wishlist .svg-wishlist {
	stroke: #173e43;
	fill: #173e43;
}
.icon-wishlist--disabled .svg-wishlist {
	stroke: #a1a1a1;
	fill: #a1a1a1;
}
.icon-wishlist--active .svg-wishlist {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-wishlist:hover .svg-wishlist {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-prologe .svg-prologe {
	stroke: #173e43;
	fill: #173e43;
}
.icon-prologe--disabled .svg-prologe {
	stroke: #a1a1a1;
	fill: #a1a1a1;
}
.icon-prologe--active .svg-prologe {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.icon-prologe:hover .svg-prologe {
	stroke: #3fb0ac;
	fill: #3fb0ac;
}
.prologe-upvote--active { color: #00ff00; }
.prologe-upvote--disabled { color: #a1a1a1; }
.prologe-upvote:hover { color: #00ff00; }
.prologe-upvote { color: #173e43; }

.prologe-downvote--active { color: #ff0000; }
.prologe-downvote--disabled { color: #a1a1a1; }
.prologe-downvote:hover { color: #ff0000; }
.prologe-downvote { color: #173e43; }

/*
div.icon-reading { background:url('../img/i_reading.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-reading--disabled { background:url('../img/i_reading_disabled.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-reading--active { background:url('../img/i_reading_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-reading:hover { background:url('../img/i_reading_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-prologe { background:url('../img/i_prologe.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-prologe--disabled { background:url('../img/i_prologe_disabled.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-prologe--active { background:url('../img/i_prologe_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-prologe:hover { background:url('../img/i_prologe_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-favorite { background:url('../img/i_favorite.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-favorite--disabled { background:url('../img/i_favorite_disabled.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-favorite--active { background:url('../img/i_favorite_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-favorite:hover { background:url('../img/i_favorite_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-wishlist { background:url('../img/i_wishlist.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-wishlist--disabled { background:url('../img/i_wishlist_disabled.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-wishlist--active { background:url('../img/i_wishlist_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }
div.icon-wishlist:hover { background:url('../img/i_wishlist_active.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }

div.icon-prologe-noeffect { background:url('../img/i_prologe.png')no-repeat; background-size: 48px 48px; width:48px; height:48px;  }

div.prologe-upvote {background:url('../img/up_darkblue.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}
div.prologe-downvote {background:url('../img/down_darkblue.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}

div.prologe-upvote:hover {background:url('../img/up_green.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}
div.prologe-downvote:hover {background:url('../img/down_red.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}

div.prologe-upvote--active {background:url('../img/up_green.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}
div.prologe-downvote--active {background:url('../img/down_red.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}

div.prologe-upvote--disabled {background:url('../img/up_grey.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}
div.prologe-downvote--disabled {background:url('../img/down_grey.png')no-repeat; background-size: 32px 32px; width: 32px; height: 32px;}
*/