.comment-area {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  margin-top: 1em;
  margin-bottom: 7px;
  padding-left: 10px;
  border-radius: 4px;
}
.comment-area .comment-form {
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.comment-area .comment-form .actions {
  display: flex;
  flex-direction: column;
}
.comment-area .comment-form .actions .btn {
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.comment-area .comment-form .textarea-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-area .comment-form .textarea-container textarea {
  height: 66px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-size: 13px;
}
.comment-area .comment-form .textarea-container .error-area {
  color: red;
  font-size: 12px;
}
.thread {
  margin-bottom: 5px;
}
.thread .thread-nest {
  padding-left: 10px;
  border-left: 2px solid #3fb0ac;
  margin-left: 4px;
}
.thread .comment {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin-bottom: 7px;
  padding-left: 10px;
  display: flex;
}
.thread .comment .content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.thread .comment .content .header {
  font-size: 12px;
  color: grey;
  margin-top: 3px;
  margin-left: 5px;
}
.thread .comment .content .header .poster {
  background-color: #3fb0ac;
  font-size: 14px;
  line-height: 1.8em;
  margin-right: 5px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.thread .comment .content .header .poster span {
  font-size: 75%;
  padding: 0.2em 0.6em 0.3em;
  vertical-align: baseline;
}
.thread .comment .content .header .poster:hover {
  text-decoration: none!important;
}
.thread .comment .content .text {
  font-size: 12px;
  margin-top: 4px;
}
.thread .comment .content .footer {
  font-size: 12px;
  color: grey;
  margin-left: 5px;
  margin-top: 4px;
  margin-bottom: 1px;
}
.thread .comment .content .footer span {
  margin-right: 8px;
}
.thread .comment .content .footer span:hover {
  cursor: pointer;
}
.thread .comment .icon {
  margin-right: 8px;
}
.thread .comment .icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/*

.reply-form--actions {
	display: flex;
	flex-direction: column;
}

.user-span-link:hover {
	text-decoration: none!important;
}

.user-label {
	background-color: #3fb0ac;
	font-size: 12px;
	line-height: 1.8em;
	margin-right: 5px;
}
*/
#main-group--editable {
  display: none;
}
.main-group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.main-group .info {
  text-align: center;
}
.main-group .horizontal {
  flex-direction: row;
  display: flex;
  width: 100%;
}
.main-group .horizontal .info {
  margin-top: 20px;
}
.main-group .horizontal .left {
  justify-content: center;
}
.main-group .horizontal .right {
  margin-left: 15px;
  margin-top: 10px;
  width: 100%;
}
.main-group .horizontal .right .description {
  margin-top: 15px;
}
.main-group .horizontal .right .description .content.more {
  max-height: 80px;
  overflow: hidden;
}
.main-group .horizontal .right .description .more-toggle.expanded .more {
  display: none;
}
.main-group .horizontal .right .description .more-toggle:not(.expanded) .less {
  display: none;
}
.main-group .horizontal .icon {
  margin-top: 10px;
}
.main-group .horizontal .actions {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}
.main-group .vertical {
  flex-direction: column;
  justify-content: center;
}
.main-group .vertical .info {
  justify-content: center;
}
.main-group .info .display-name {
  font-size: 20px;
  font-weight: 600;
  color: #173e43;
}
.main-group .info .handle {
  margin-top: 10px;
  color: #4c7478;
  font-size: 16px;
}
.main-group .info-panel {
  margin-left: 20px;
  margin-top: 10px;
}
.main-group .info-panel .title {
  font-size: 32px;
  font-weight: 600;
}
.main-group .info-panel .handle {
  margin-top: 10px;
  color: #4c7478;
  font-size: 22px;
}
.main-group .info-panel .description {
  margin-top: 10px;
  font-size: 16px;
}
.main-group .info-panel .description textarea {
  height: 130px;
  line-height: 2em;
}
.main-group .icon-panel {
  display: flex;
  flex-direction: column;
  padding: 10 30 10 30;
}
.main-group .icon-panel .actions {
  display: flex;
}
.main-group .icon-panel .actions > * {
  margin-top: 8px;
}
.main-group .icon-panel .edit-club {
  justify-content: space-around;
}
.main-group .icon-panel .change-icon {
  justify-content: center;
}
.main-group .icon {
  display: flex;
  justify-content: center;
}
.main-group .icon .edit-button {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 10px;
  margin: auto;
  background-color: #3fb0ac;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.main-group .icon .edit-button .edit-icon {
  color: #fff;
  margin-top: 6px;
  margin-left: 8px;
}
.main-group .icon .cancel-edit {
  background-color: red !important;
}
.main-group .icon img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
}
.main-group .group-membership {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main-group .hover-button {
  width: 75%;
}
.main-group .hover-button:focus,
.main-group .hover-button:hover {
  background-color: red;
}
.main-group .hover-button:focus .unfocused-text,
.main-group .hover-button:hover .unfocused-text {
  display: none;
}
.main-group .hover-button:focus .focused-text,
.main-group .hover-button:hover .focused-text {
  display: block;
}
.main-group .hover-button .unfocused-text {
  color: black;
  display: block;
}
.main-group .hover-button .focused-text {
  color: white;
  display: none;
}
.group-member {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}
.group-member .info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 8px;
  overflow: hidden;
  white-space: nowrap;
}
.group-member .info .display-name a {
  color: #173e43;
  font-weight: 600;
}
.group-member .info .display-name a div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-member .info .user-name a {
  color: #4c7478;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-member .info .user-name a div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.group-member div.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.group-member img.icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.group-reading {
  padding-bottom: 10px;
}
.group-reading .actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.group-reading .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
  margin-left: 8px;
}
.group-reading .icon img {
  height: 150px;
}
.group-wishlist .actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.group-wishlist .section-name {
  margin-top: 8px;
  margin-left: 12px;
  font-size: 16px;
}
.group-wishlist .selected-book .book {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
}
.group-wishlist .selected-book .book .info .title {
  text-decoration: none;
  font-size: 16px;
}
.group-wishlist .selected-book .book .info .title:focus,
.group-wishlist .selected-book .book .info .title:hover {
  text-decoration: none;
}
.group-wishlist .selected-book .book .info .author {
  font-size: 14px;
}
.group-wishlist .selected-book .book .info .author a {
  text-decoration: none;
}
.group-wishlist .selected-book .book .icon img {
  height: 80px;
}
.group-wishlist .list {
  margin-top: 8px;
}
.group-wishlist .list .selected {
  background-color: #e4e4e4;
}
.group-wishlist .list .book {
  display: flex;
  border-top: 1px solid #e4e4e4;
}
.group-wishlist .list .book .info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}
.group-wishlist .list .book .info .title {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 4px;
}
.group-wishlist .list .book .info .author {
  font-size: 10px;
}
.group-wishlist .list .book .icon img {
  height: 50px;
  margin: 2px;
  margin-right: 0;
}
.main-book {
  display: flex;
  flex-direction: column;
}
.main-book .book {
  display: flex;
}
@media (max-width:767px) {
  .main-book .book {
    flex-direction: column;
    text-align: center;
  }
}
.main-book .book .icon {
  align-items: flex-start;
}
.main-book .actions {
  display: flex;
  justify-content: flex-end;
  font-size: 56px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-top: 1px solid #e4e4e4;
}
.main-book .actions .action {
  margin-right: 15px;
  margin-top: 15px;
  color: #173e43;
}
.main-book .actions .action:hover,
.main-book .actions .action:focus {
  color: #fae596;
}
.main-book .actions .action.active {
  color: #3fb0ac;
}
.main-book .actions .action.active {
  color: #3fb0ac;
}
.main-book .actions .action.disabled {
  color: #e7e7e7;
}
.main-book .actions .action.disabled:hover,
.main-book .actions .action.disabled:focus {
  color: #e7e7e7;
}
.main-book .info {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.main-book .info .description {
  margin-top: 20px;
  margin-right: 20px;
}
@media (max-width:767px) {
  .main-book .info .description {
    margin-left: 18px;
  }
}
.main-book .info .description .content {
  font-size: 14px;
}
.main-book .info .description .content p {
  text-align: justify;
}
.main-book .info .description .content.not-expanded {
  max-height: 80px;
  overflow: hidden;
}
.main-book .info .description .controls {
  margin-top: 3px;
  color: #4c7478;
  cursor: pointer;
}
.main-book .info .description .controls p {
  text-align: center;
}
.main-book .info .description .controls.not-expanded .less {
  display: none;
}
.main-book .info .description .controls:not(.not-expanded) .more {
  display: none;
}
.main-book .info .title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-book .info .author {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.main-book .info .rating {
  display: flex;
  color: #fae596;
  font-size: 26px;
}
@media (max-width:767px) {
  .main-book .info .rating {
    justify-content: center;
  }
}
.main-book .icon {
  margin: 20px;
}
.main-book .icon img {
  height: 200px;
}
.book-prologes .prologe {
  margin-top: 15px;
}
.book-prologes .prologe .panel-content {
  display: flex;
}
.book-prologes .prologe .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
}
.book-prologes .prologe .content .prologue {
  font-size: 14px;
  color: #173e43;
}
.book-prologes .prologe .content .rating {
  margin-top: 8px;
}
.book-prologes .prologe .content .signature {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.book-prologes .icon {
  align-items: flex-start;
  margin-top: 10px;
}
.book-prologes .icon img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.similarity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.similarity .voting.enabled .up:hover,
.similarity .voting.enabled .up:focus {
  opacity: 0.4;
  color: #3fb0ac;
}
.similarity .voting.enabled .down:hover,
.similarity .voting.enabled .down:focus {
  opacity: 0.4;
  color: red;
}
.similarity .voting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
  margin-right: 8px;
  color: #dddfd4;
}
.similarity .voting .up,
.similarity .voting .down {
  font-size: 26px;
}
.similarity .voting .up.voted {
  color: #3fb0ac;
}
.similarity .voting .down.voted {
  color: red;
}
.similarity .voting .counter {
  font-size: 20px;
}
.similarity .book {
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
}
.similarity .book .info {
  margin-top: 10px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}
.similarity .book .info .title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.similarity .book .icon {
  min-width: 57px;
}
.similarity .book .icon img {
  height: 75px;
}
.suggest-similar .collapsible-button {
  font-size: 18px;
  color: #173e43;
  margin-top: 8px;
  margin-left: 22px;
  margin-right: 10px;
}
.suggest-similar .my-readings {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.suggest-similar .my-readings .suggestion {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.suggest-similar .my-readings .suggestion .actions {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.suggest-similar .my-readings .suggestion .book {
  display: flex;
  margin-right: 7px;
  margin-left: 7px;
}
.suggest-similar .my-readings .suggestion .book .info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 8px;
}
.suggest-similar .my-readings .suggestion .book .info .title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}
.suggest-similar .my-readings .suggestion .book .icon {
  margin-top: 5px;
  margin-bottom: 5px;
}
.suggest-similar .my-readings .suggestion .book .icon img {
  height: 62px;
  min-width: 57px;
}
.suggest-similar .filter {
  margin-left: 16px;
  margin-right: 10px;
  margin-top: 10px;
}
.suggest-similar .filter .instructions {
  font-size: 16px;
  color: #5d7679;
}
.prologe-modal .feedback-textarea {
  padding: 10px 0;
  font-size: 16px;
  color: #173e43;
}
.prologe-modal .feedback-textarea textarea {
  width: 100%;
  height: 200px;
}
.prologe-modal .rating {
  margin-top: 30px;
  font-size: 18px;
  color: #173e43;
}
.prologe-modal .rating.required {
  color: red;
}
.prologe-modal .actions {
  display: flex;
  justify-content: center;
}
.prologe-modal .actions .main-btn {
  width: 33%;
}
.main-author {
  margin-top: 3em;
}
.main-author .info {
  text-align: center;
}
.main-author .info .title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-author .center-icon {
  text-align: center;
}
.main-author .center-icon img {
  height: 80px;
  width: 80px;
  margin-top: -3.4em;
  border-radius: 50%;
  background-color: #173e43;
}
.author-books {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.author-books .book {
  width: 31%;
  margin-top: 3em;
  margin-bottom: 15px;
}
@media (min-width:768px) and (max-width:991px) {
  .author-books .book {
    width: 48%;
  }
}
@media (max-width:767px) {
  .author-books .book {
    width: 98%;
  }
}
.author-books .book .rating {
  display: flex;
  justify-content: center;
  color: #fae596;
  margin-bottom: 15px;
}
.author-books .book .info {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 8px;
  white-space: nowrap;
}
.author-books .book .info .title {
  font-size: 16px;
  text-align: center;
}
.author-books .book .info .title a > * {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author-books .book .icon {
  text-align: center;
}
.author-books .book .icon img {
  margin-top: -3.4em;
  height: 80px;
  width: auto;
  min-width: 57px;
  background-color: #173e43;
}
.main-profile {
  display: flex;
  padding: 25px;
}
@media (max-width:767px) {
  .main-profile {
    flex-direction: column;
    justify-content: center;
  }
}
.main-profile .info {
  margin-left: 22px;
}
.main-profile .info .section {
  font-size: 18px;
}
.main-profile .info .section .field-name {
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-profile .info .section .field-editable {
  display: flex;
  flex-direction: column;
}
.main-profile .info .section .field-editable .display-name {
  font-size: 20px;
}
.main-profile .info .section .field-editable .display-name .action {
  margin-right: 10px;
  margin-top: 6px;
}
.main-profile .info .section .field-editable .actions {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}
.main-profile .info .section .field-editable .actions button {
  margin-right: 10px;
}
.main-profile .info .section .field-value {
  display: flex;
}
.main-profile .info .section .field-value .display-name {
  color: #173e43;
  font-size: 24px;
}
.main-profile .info .section .field-value .username {
  color: #4c7478;
  font-size: 20px;
}
.main-profile .info .section .field-value .action {
  margin-left: 10px;
  font-size: 22px;
  color: #dddfd4;
}
.main-profile .info .section .field-value .action:focus,
.main-profile .info .section .field-value .action:hover {
  color: #3fb0ac;
}
.main-profile .icon-section {
  display: flex;
  flex-direction: column;
}
.main-profile .icon-section .actions {
  display: flex;
  margin-top: 8px;
}
.main-profile .icon-section .change-icon {
  justify-content: center;
}
.main-profile .icon-section .edit-avatar {
  justify-content: space-around;
}
.main-profile .icon-section .croppable-wrapper {
  max-height: 300px;
}
.main-profile .icon-section .icon img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.main-user {
  display: flex;
  padding: 25px;
}
.main-user .info {
  margin-left: 18px;
}
.main-user .info .username {
  font-size: 16px;
  color: #4c7478;
}
.main-user .info .display-name {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #173e43;
}
.main-user .icon img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.user-prologes {
  display: flex;
  flex-wrap: wrap;
}
.user-prologes .prologe {
  margin-top: 15px;
  margin-right: 10px;
  display: flex;
  padding: 15px;
  width: 90%;
  align-self: center;
}
.user-prologes .prologe .content {
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-prologes .prologe .content .prologue {
  flex-grow: 1;
  text-align: justify;
}
.user-prologes .prologe .content .title {
  font-size: 16px;
  margin-bottom: 5px;
}
.user-prologes .prologe .content .rating {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.user-prologes .prologe .icon {
  align-self: flex-start;
}
.user-prologes .prologe .icon img {
  height: 100px;
}
.search-list .missing-result {
  width: 31%;
  margin-top: 7px;
  margin-right: 7px;
  display: flex;
  padding: 14px;
  border: 2px dashed #3fb0ac;
}
@media (min-width:768px) and (max-width:991px) {
  .search-list .missing-result {
    width: 48%;
  }
}
@media (max-width:767px) {
  .search-list .missing-result {
    width: 98%;
  }
}
.search-list .missing-result .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-list .missing-result .content .description {
  text-align: center;
}
.search-list .missing-result .content .actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fafafa !important;
  font-family: Lato, sans-serif;
  font-size: 12px!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5em;
}
.body-background {
  width: 100%;
  height: 100%;
}
.body-background .forgotten {
  background: url(../img/login_1920.jpg) no-repeat;
  background-size: cover;
}
.body-background .construction {
  background: url(../img/working.jpg) no-repeat;
  background-size: cover;
}
.body-background .full-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.body-background .full-body .clear .content {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
}
.body-background .full-body .opaque .header {
  background-color: #3fb0ac;
}
.body-background .full-body .opaque .content {
  background-color: #fff;
}
.body-background .full-body .centered-section {
  max-width: 450px;
  align-self: center;
}
.body-background .full-body .centered-section .content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.body-background .full-body .centered-section .content form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}
.body-background .full-body .centered-section .content form input {
  height: 40px;
}
.body-background .full-body .centered-section .content h2 {
  text-align: center;
}
.body-background .full-body .centered-section .content h5 {
  text-align: center;
  margin-top: 10px;
}
.body-background .full-body .centered-section .content .main-btn {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.body-background .full-body .centered-section .header {
  display: flex;
  justify-content: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.body-background .full-body .centered-section .header img {
  margin: 5px;
  height: 8em;
}
.no-padding {
  padding: 0 !important;
}
.no-pad-right {
  padding-right: 0!important;
}
.no-pad-left {
  padding-left: 0!important;
}
.reduced-padding {
  padding-left: 6px;
  padding-right: 6px;
}
/* Here goees the navbar */
.header .navbar {
  background-color: #3fb0ac;
  color: #ffffff;
  border-color: #e7e7e7;
  border-radius: 0;
}
.header .navbar img.logo {
  height: 4em;
}
.header .navbar .navbar-nav > li > a {
  color: #ffffff;
}
.container {
  padding-top: 70px;
}
.prlg-panel {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  margin-bottom: 5px;
}
.prlg-panel .panel-content {
  margin: 1em;
}
.btn.main-btn {
  background-color: #3fb0ac;
  color: #fff;
}
.btn.main-btn:focus,
.btn.main-btn:hover {
  background-color: #173e43;
  color: #fff;
}
.feedback-textarea textarea {
  border: 4px dashed #3fb0ac;
  background-color: #dddfd4;
  outline: none;
  resize: none;
}
.feedback-textarea textarea.required {
  border: 4px dashed red;
}
.feedback-textarea .feedback {
  margin-top: -1.4em;
  margin-right: 0.4em;
  text-align: right;
  font-size: 20px;
  color: #173e43;
}
.editable-area .contained {
  display: flex;
}
.editable-area .contained .action {
  margin-top: 4px;
  margin-right: 9px;
  color: #dddfd4;
}
.editable-area .contained .submit:hover,
.editable-area .contained .submit:focus {
  opacity: 0.8;
  color: #3fb0ac;
}
.editable-area .contained .cancel:hover,
.editable-area .contained .cancel:focus {
  opacity: 0.4;
  color: red;
}
.editable-area .wrapper {
  border: 2px dashed #3fb0ac;
}
.editable-area .wrapper input,
.editable-area .wrapper textarea {
  border: none;
  outline: none;
  resize: none;
  margin-top: 1px!important;
  margin-left: 2px;
  margin-right: 1px;
  width: 99%;
}
.upload-btn input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-btn label {
  color: #fff;
  background-color: #3fb0ac;
}
.upload-btn label:focus,
.upload-btn label:hover {
  background-color: #173e43;
  color: #fff;
}
.btn.submit-btn {
  background-color: #3fb0ac;
  color: #fff;
}
.btn.submit-btn:focus,
.btn.submit-btn:hover {
  background-color: #173e43;
  color: #fff;
}
.title {
  color: #173e43;
}
.title a {
  color: #173e43;
}
.title a:hover,
.title a:focus {
  color: #3fb0ac;
  text-decoration: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.nav-tabs.underline-tabs {
  margin: 1em;
  background-color: #fafafa;
  border-bottom: none;
  font-size: 14px;
}
.nav-tabs.underline-tabs li.active > a {
  background-color: #fafafa;
  outline: none;
  border: none;
  border-bottom: 5px solid #173e43;
}
.nav-tabs.underline-tabs li.active > a:hover,
.nav-tabs.underline-tabs li.active > a:focus {
  background-color: #fafafa;
  border: none;
  border-bottom: 5px solid #3fb0ac;
}
.nav-tabs.underline-tabs li > a {
  outline: none;
  border: none;
}
.nav-tabs.underline-tabs li > a:hover,
.nav-tabs.underline-tabs li > a:focus {
  border: none;
  background-color: #fafafa;
  border-bottom: 5px solid #3fb0ac;
}
.side-tab-panel .tab-content {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-top: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.prologe .rating {
  display: flex;
  justify-content: flex-end;
  color: #fae596;
}
.default-book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.default-book-list .book {
  width: 31%;
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  padding: 15px;
}
@media (min-width:768px) and (max-width:991px) {
  .default-book-list .book {
    width: 48%;
  }
}
@media (max-width:767px) {
  .default-book-list .book {
    width: 98%;
  }
}
.default-book-list .book .info {
  margin-left: 10px;
}
.default-book-list .book .info .title {
  min-width: 120px;
  max-width: 480px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}
.default-book-list .book .icon img {
  height: 80px;
}
.modal-content .header {
  padding-top: 1px;
  padding-bottom: 5px;
  background-color: #3fb0ac;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.modal-content .header .title {
  text-align: center;
}
.modal-content .header .close {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.modal-content .body {
  padding: 15px;
}
.modal-content .footer {
  padding: 15px;
  border-top: 1px solid #dddfd4;
}
.error-msg {
  color: red;
}
